@font-face {
  font-family: "Neue Montreal";
  src: url("/font/NeueMontreal-Italic.otf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/font/NeueMontreal-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "Neue Montreal";
  src: url("/font/NeueMontreal-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
