.button{
  text-align: center;
  padding: 12px 24px;
  border-radius: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

.button__red{
  background: var(--secondary);
  border-color: var(--secondary);
}
.button:hover{
  background: transparent;
}
.button__white{
  border-color: white;
}
.button__white:hover{
  background: white;
  color: black;
}