---
import type { StoryblokClient } from "@storyblok/js";
import Main from "../layouts/Main.astro";
import { storyblokApi } from "../utils/storyblok";
export async function getStaticPaths() {
  const { data } = await (storyblokApi as StoryblokClient).get("cdn/stories", { version: "draft" });
  return data.stories.map((page: any) => {
    return {
      params: { slug:page.slug === "home" ? undefined : page.slug },
      props: page,
    };
  });
}

const { slug } = Astro.params;
const page = Astro.props
---

<Main title={page.name}>
  {page.content.body.map(blok=>{
    switch (blok.component) {
      case "feature":
        
        break;
    
      default:
        break;
    }
  })}
</Main>