---
import { StoryBlokRender } from "../components/StoryBlokRender.jsx";
import Main from "../layouts/Main.astro";
const metatags = {
  title: "Preview",
  description: "",
  image: "",
};
---

<script>
  setTimeout(() => {
    document.querySelectorAll("*").forEach((item) => {
      item.style.opacity = 1;
    });
    console.log("Force items display");
  }, 500);
</script>

<Main meta={metatags}>
  <StoryBlokRender token={import.meta.env.STORYBLOK_TOKEN} client:only />
</Main>
