.page-title {
  margin-bottom: 100px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title.medium{
  margin-bottom: 50px;
}

.page-title.small{
  margin-bottom: 0px;
}
.page-title__title {
  text-align: center;
  max-width: 1120px;
  margin: 0 auto;
}
.page-title__title b {
  color: var(--primary);
}
.page-title__pretitle {
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}
.page-title__tag {
  border: 2px solid white;
  margin-bottom: 2rem;
  padding: 8px 12px;
  border-radius: 52px;
}
.page-title__post-title {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.page-title__author::after {
  content: "|";
  margin: 0 26px;
}
.page-title__description{
  margin-top: 2rem;
  text-align: center;
}
.page-title__buttons{
  margin-top: 2rem;
}
@media (max-width: 1136px) {
  .page-title {
    padding: 0 1rem;
    margin-top: 52px;
    margin-bottom: 100px;
  }
}
