.some-numbers-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.some-numbers-item__number{
  color:white;
  display: block;
  text-align: center;
}
.some-numbers-item__label{
  color:white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.some-numbers-item__label span{
  z-index: 2;
}
.some-numbers-item__label::after{
  position: absolute;
  content:'';
  height: 8px;
  border-radius: 11px;
  width: 100%;
  bottom: 0;
  background: var(--secondary);
  left:0;
  z-index: 0;
}