.contact-form {
  display: flex;
  padding: 36px 0;
  color: var(--background);
;}
.contact-form.contact-form--full-width {
  background: white;
}
.contact-form__container {
  display: flex;
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 64px;
  border-radius: 1rem;
  justify-content: space-between;
}
.contact-form__aside {
  max-width: 456px;
  width: 100%;
}
.contact-form__title b {
  color: var(--secondary);
}
.contact-form__description {
  margin: 2rem 0;
}
.contact-form__form {
  max-width: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.contact-form__form-sent{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  transform: translateX(100%);
  transition: transform 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.contact-form__form-sent--visible{
  transform: translateX(0);
}
@media (max-width:1248px) {
  
  .contact-form__container{
    border-radius: 0;
  }
}
@media (max-width: 1100px) {
  .contact-form__container {
    flex-direction: column;
    gap: 64px;
  }
}
@media (max-width: 809px) {
  .contact-form {
    padding: 2rem 0;
  }
  .contact-form__container {
    gap: 64px;
    padding: 1rem;
  }
}
