.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.input__input{
  border: none;
  border-bottom: 2px solid var(--background);
  padding: 8px;
  font-family: "Neue Montreal";
  font-size: 1rem;
  line-height: 150%;
}
.input__input:focus-within{
  outline: none;
  border-bottom-color: var(--secondary);
}