.page-title__title{
  text-align: center;
  max-width: 1120px;
  margin: 0 auto;
}
.page-title__title b{
  color: var(--primary);
}
.page-title__pretitle{
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}
@media (max-width: 1136px) {
  .page-title{
    padding: 0 1rem;
  }
}